.book-list-item {
  display: block;
  border: 1px solid #efefef;
  padding: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}
.book-title {
  margin: 0;
  font-size: 1.5em;
}
.book {
  display: flex;
}
.book-cover {
  display: block;
  margin-right: 1em;
}

.book-detail {
  display: flex;
  flex-direction: column;
}
.book-rating {
  margin-top: auto;
}

@media screen and (max-width: 40em) {
  .book-cover {
    max-width: 100px;
  }
}
