<div class="book-list-item">
  <div class="book">
    <div>
      <img
        class="book-cover"
        src="../../../assets/1972.png"
        (click)="onClick(Book)"
      />
    </div>
    <div class="book-detail">
      <h4 class="book-title">{{ Book.Title }}</h4>
      <p>{{ Book.Genre }}</p>
    </div>
  </div>
</div>
