header {
  background: rgb(180, 171, 127);
  padding: 3em;
  margin-bottom: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.link {
  font-family: Georgia, "Times New Roman", Times, serif;
  font: bold;
}
img {
  width: 20%;
  position: absolute;
  right: 0%;
}
